.prato{
    width:280px;
    background-color:#fff;
    border-radius: 5px;
    text-align: center;
    margin: 8px 0px;
}
.prato .imagem-container img{
    width: 100%;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}
.conteudo{
    padding:8px;
}